
/*===================================================================
bordo per debugging
===================================================================*/

// .columns, .column {
//     border: 1px solid green;
// }

// del {
//     color: red;
// }
/*===================================================================
logo - cards
===================================================================*/

.img-logo {
    width: 180px;
    margin-top: 5px;
    @media #{$small-only} {
        width:160px;
        margin-top: 0px;
        margin-left: -4px;
    }
}

.img-cards {
    margin-top: 0.5rem;
    margin-right: 1rem;
}
/*===================================================================
margini per allineare le aside e i button
===================================================================*/

.extra-space-hero {
    margin-top: 1rem;
}
.extra-space-hamburger {
    margin-top: 1.25rem;
}
.extra-space {
    margin-top: 2rem;
}
.extra-space-modal {
    margin-top: 3rem;
}
.extra-space-footer {
    margin-top: 4rem;
}
.extra-space-image-tab-home {
    margin-top: 0.5rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.extra-space-image-tab-contatti {
    margin-top: 3.9rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-text-tab-contatti {
    margin-top: 0.35rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-video {
    margin-top: 0.35rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-aside-tab-immagini {
    margin-top: 1.25rem;
}
.extra-space-aside-video {
    margin-top: 1.45rem;
}
.extra-space-aside-tab-chi-siamo {
    margin-top: -0.15rem;
}
.extra-space-aside-tab-menu {
    margin-top: 3.8rem;
}
.extra-space-blog {
    margin-top: 1rem;
    @media #{$small-only} {
        margin-top: .5rem;
    }
}
.extra-space-aside {
    margin-top: 2.8rem;
}
/*the following control extra margin for blog articles and menu products detail*/
.extra-margin-first-paragraph-blog {
    margin-top: 0.8rem;
}
.extra-space-button {
    margin-top: 0.5rem;
}
.extra-space-from-tabs {
    margin-top: 0.8rem;
    @media #{$small-only} {
        margin-top: 0.6rem;
    }
}
.no-margin-list-bullet {
    margin-top:-1.1rem;
}
.no-margin-inline-list {
    margin-left:-22px;
}
.menu-subheader {
    margin-top:-0.7rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    @media #{$small-only} {
        font-size: 1.35rem;
        margin-top:-0.4rem;
        line-height: 1.4rem;
    }
}

/*===================================================================
homepage
===================================================================*/


.panel-home-n {
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $white;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}
.panel-home-2n {
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $panel-2n-bg;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}
.text-highlight {
    background-color: rgba($black, 0.25);
    margin-top: 1rem;
}
.panel-asporto{
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 0rem;
    background-color: $white;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
}
.homepage-hero {
    background: url('https://www.beerstrot.it/asset/img/large/background-home-estiva.jpg') center center;
    background-size: cover;
    height: 90%;
    overflow: hidden;
    @media #{$small-only} {
            height: 60%;
        }

    h1 {
        font-size: 4rem;
        color: white;
        font-weight: 500;
        line-height: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        @media #{$small-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
        @media #{$medium-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }
}
.asporto-hero {
    background: url('https://www.beerstrot.it/asset/img/large/asporto-background.jpg') no-repeat center center;
    background-size: cover;
    height: 90%;
    overflow: hidden;
    @media #{$small-only} {
            height: 60%;
        }
    h1 {
        font-size: 4rem;
        color: white;
        font-weight: 500;
        line-height: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        @media #{$small-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
        @media #{$medium-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }
}

/*===================================================================
Chi Siamo
===================================================================*/

// .panel-chi-0 {
//     margin-bottom: 0;
//     padding-top: 0.5rem;
//     padding-bottom: 4rem;
//     background-color: $white;
//     @media #{$small-only} {
//         margin-bottom: 0;
//         padding-top: 0rem;
//         padding-bottom: 3rem;
//     }
// }
.by-line-chi-siamo {
    font-style: italic;
    font-size: 0.8rem;
    line-height: 0.5rem;
    padding-bottom: 1rem;
    line-height: 1.4rem;
}
.extra-space-recensione {
    margin-top: 2.5rem;
}

.panel-border {
    border: 1px solid;
    border-color: scale-color($panel-bg, $lightness: $panel-function-factor);
}

/*===================================================================
menupage text
===================================================================*/

#menupage-text {
    /*padding:0 2rem;*/
    h1 {
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        text-align: center;
        &:first-child {
            margin-top: 1.5rem;
        }
        @media #{$small-only} {
            margin-bottom: 1.2rem;
            margin-top: 1.5rem;
            text-align: left;
        }
    }
     h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        text-align: center;
        line-height: 1.6rem;
        &:first-child {
            margin-top: 1.5rem;
        }
        @media #{$small-only} {
            font-size: 1.35em;
            margin-bottom: 1.2rem;
            margin-top: 1.5rem;
            text-align: left;
        }
    }
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0;
        @media #{$small-only} {
            font-size: 1rem;
        }
    }
    h4 {
        font-size: 1.125rem;
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }
    h5 {
        font-size: 1.15rem;
    }
    h6 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .price {
        font-size: 0.95rem;
        margin-left: 1.5rem;
        font-weight: normal;
   }
}

.panel-menu-n {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: $white;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.panel-menu-2n {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: $panel-2n-bg;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.panel-promotion {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: $panel-2n-bg;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/*===================================================================
team detail page
===================================================================*/

#image-background-team {
    position: relative;
    margin-bottom: 2rem;
    width: 100%; /* for IE 6 */
    @media #{$small-only} {
        margin-bottom: 1.5rem;
    }
    .user-image {
        border: 10px solid white;
        position: absolute;
        width: 20%;
        top: 70%;
        left: 0%;
        @media #{$small-only} {
            width: 30%;
            top: 65%;
        }
    }
}

/*===================================================================
footer header style
===================================================================*/

.panel-prefooter {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $footer-background-color;
    @media #{$small-only} {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}
.panel-footer {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: $footer-background-color;
    p {
        font-size: 1rem;
        @media #{$small-only} {
        font-size: 0.83rem;
        }
    }
}
.panel-hr {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: $footer-background-color;
    hr {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0rem;
        padding-bottom: 0rem;
        border-color: $white;
    }
}
.navbar-footer-font {
    font-size: 0.9375rem;
    line-height: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    a {
        color: $topbar-menu-link-color;
    }
    a:hover {
        color: scale-color($topbar-menu-link-color, $lightness: 30%);
    }
}

ul .icon-font-style {
    font-size: 3rem;
}
.block-grid-cards-3 {
    @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 3,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: rem-calc(10),

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}
.block-grid-social-3 {
    @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 3,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: rem-calc(30),

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}

.fi-social:hover {
  fill: scale-color($primary-color, $lightness: -14%);
}

.fi-social:visited {
  fill: $primary-color;
}

.fa fa-phone {
    font-size: 1rem;
        @media #{$small-only} {
        font-size: 1rem;
    }
}
.fi-social-facebook {
    color: #3b5998;
}
.fi-social-twitter {
    color: #5fa9dd;
}
.fi-social-google-plus {
    color: #dd4b39;
}

/*===================================================================
blog style
===================================================================*/

.by-line {
    font-style: italic;
}
.first-paragraph {
    margin-top: 1.5rem;
}
.share-block {
    border-top: 1px solid $gainsboro;
    border-bottom: 1px solid $gainsboro;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.paragraph-divider {
    border-bottom: 1px dotted $gainsboro;
    margin-bottom: 1rem;
    padding-top:1rem;
}
.title-divider {
    border-bottom: 2px dotted $navbar-color;
    margin-bottom: 1rem;
    padding-top:1rem;
}
.image-hero {
    margin: 0 0 2rem;
}
.image-hero-index {
    margin: 0 0 1rem;
    @media #{$small-only} {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

}

// .sub-nav {
//     dt {
//          margin-bottom: 0.5rem;
//     }

//     dd {
//         margin-bottom: 0.75rem;
//     }
// }
/*===================================================================
eventi
===================================================================*/

.date {
    text-transform: uppercase;
}
i {
    font-size: 1.4em;
    padding-right: .3em;
}
/*margini eventi */
.extra-space-image-event {
    margin-top: 0.95rem;
    margin-bottom: 0.5rem;
    @media #{$small-only} {
        margin-top: 0.6rem;
        margin-bottom: 0.9rem;
    }
}
.extra-space-image-event-blog {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    @media #{$small-only} {
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
    }
}
.extra-space-date-aside {
    margin-top: 0.65rem;
}
.extra-space-share-icon {
    margin-top: -0.8rem;
    @media #{$small-only} {
        margin-top: 0rem;
    }
}
.extra-space-commenti {
    margin-top: 1rem;
    @media #{$small-only} {
        margin-top: 0rem;
    }
}
/*===================================================================
footer
===================================================================*/

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  text-align: center;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  .links a {
    list-style: none;
    color: $topbar-menu-link-color;
    font-size: 0.9375rem;
    line-height: 3rem;
    padding: 0rem 0 0rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
    a:hover {
        color: scale-color($topbar-menu-link-color, $lightness: 30%);
    }
  }
}
/*===================================================================
card - commenti
===================================================================*/

.card {
  overflow: hidden;
  border: 1px solid $gainsboro;
  .content {
    padding: 1rem;
  }
}

// hr {
// height:14px; /* specify a height for this hr */
// overflow:hidden;
// }
// hr:after {
// content:".......................................................................";
// letter-spacing: 4px; /* Use letter-spacing to increase space between dots*/
// }


/*===================================================================
calendario - commenti
===================================================================*/

// #calendar {
//     width: 100%;
// }

// #calendar a {
//     color: $navbar-color;
//     text-decoration: none;
// }

// #calendar ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     width: 100%;
// }

// #calendar li {
//     display: block;
//     float: left;
//     width:14.342%;
//     padding: 5px;
//     box-sizing:border-box;
//     border: 1px solid #ccc;
//     margin-right: -1px;
//     margin-bottom: -1px;
// }

// #calendar ul.weekdays {
//     height: 40px;
//     background: $navbar-color;
// }

// #calendar ul.weekdays li {
//     text-align: center;
//     text-transform: uppercase;
//     line-height: 20px;
//     border: none !important;
//     padding: 10px 6px;
//     color: #fff;
//     font-size: 13px;
// }

// #calendar .days li {
//     height: 130px;
// }


// #calendar .date {
//     text-align: center;
//     margin-bottom: 5px;
//     padding: 4px;
//     background: $navbar-color;
//     color: #fff;
//     width: 2rem;
//     border-radius: 50%;
//     float: right;
// }

// #calendar .event {
//     clear: both;
//     display: block;
//     font-size: 0.8rem;
//     border-radius: 4px;
//     padding: 5px;
//     margin-top: 60px;
//     margin-bottom: 0px;
//     line-height: 1,6rem;
//     background: #e4f2f2;
//     border: none;
//     color: #009aaf;
//     text-decoration: none;
// }
// #calendar .event-close {
//     clear: both;
//     display: block;
//     font-size: 0.8rem;
//     border-radius: 4px;
//     padding: 5px;
//     margin-top: 60px;
//     margin-bottom: 0px;
//     line-height: 1,6rem;
//     background: #DC143C;
//     border: none;
//     color: #DC143C;
//     text-decoration: none;
// }

// #calendar .event-desc :hover {
//     background: scale-color(#e4f2f2, $lightness: -15%);
// }

// #calendar .event-desc {
//     color: #666;
//     margin: 3px 0 7px 0;
//     text-decoration: none;
// }

// #calendar .event-close>.event-desc {
//     color: $white;
//     margin: 3px 0 7px 0;
//     text-decoration: none;
// }

/* ============================
                Mobile Responsiveness
   ============================*/


// @media #{$small-only} {

//     #calendar .weekdays, #calendar .other-month {
//         display: none;
//     }

//     #calendar li {
//         height: auto !important;
//         border: 1px solid #ededed;
//         width: 100%;
//         padding: 10px;
//         margin-bottom: -1px;
//     }

//     #calendar .date {
//         float: none;
//     }
//     #calendar .event {
//     clear: both;
//     display: block;
//     font-size: 0.8rem;
//     border-radius: 4px;
//     padding: 5px;
//     margin-top: 20px;
//     margin-bottom: 0px;
//     line-height: 1,6rem;
//     background: #e4f2f2;
//     border: none;
//     color: #009aaf;
//     text-decoration: none;
// }
//     #calendar .event-close {
//         clear: both;
//         display: block;
//         font-size: 0.8rem;
//         border-radius: 4px;
//         padding: 5px;
//         margin-top: 20px;
//         margin-bottom: 0px;
//         line-height: 1,6rem;
//     }
// }

// /*===================================================================
// tabs
// ===================================================================*/

// .tab-title {
//     border-right-style: solid;
//     border-width: 1px;
//     border-color: $white;
// }


/*===================================================================
prenota
===================================================================*/

.privacy {
    font-size: 0,8rem;
}


.extra-space-turno {
    margin-top: 0.25rem;
    @media #{$small-only} {
        margin-top: 0.2rem;
        margin-bottom: 0rem;
    }
}

::-webkit-input-placeholder {
  color: #b5b3b3; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b3b3; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b3b3; }

:-ms-input-placeholder {
  color: #b5b3b3; }

// #dashboard {
//     @media
//       only screen
//     and (max-width: 760px), (min-device-width: 768px)
//     and (max-device-width: 1024px)  {
// /* Force table to not be like tables anymore */
//     table, thead, tbody, th, td, tr {
//             display: block;
//         }
// /* Hide table headers (but not display: none;, for accessibility) */
//     thead tr {
//             position: absolute;
//             top: -9999px;
//             left: -9999px;
//         }

//     tr {
//       margin: 0 0 1rem 0;
//     }

//     tr:nth-child(odd) {
//       background: #ccc;
//     }

//     td {
//         /* Behave  like a "row" */
//         border: none;
//         border-bottom: 1px solid #eee;
//         position: relative;
//         padding-left: 50%;
//     }

//     td:before {
//             /* Now like a table header */
//         position: absolute;
//             /* Top/left values mimic padding */
//         top: 0;
//         left: 6px;
//         width: 45%;
//         padding-right: 10px;
//         white-space: nowrap;
//     }

// /*  Label the data
//     You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
//         */
//         td:nth-of-type(1):before { content: "Nome"; }
//         td:nth-of-type(2):before { content: "Telefono"; }
//         td:nth-of-type(3):before { content: "Email"; }
//         td:nth-of-type(4):before { content: "Orario"; }
//         td:nth-of-type(5):before { content: "Numero persone"; }
//         td:nth-of-type(6):before { content: "Tavolo"; }
//         td:nth-of-type(7):before { content: "Seggioloni"; }
//         td:nth-of-type(8):before { content: "Cani"; }
//         td:nth-of-type(9):before { content: "Note"; }
//     }
// }

//stop zoom viewport on form selection small screen only
@media #{$small-only} {
        input, select, textarea {
        font-size: 16px !important;
    };
}

input:not([type])[disabled], input:not([type])[readonly], fieldset[disabled] input:not([type]), input[type=text][disabled], input[type=text][readonly], fieldset[disabled] input[type=text], input[type=password][disabled], input[type=password][readonly], fieldset[disabled] input[type=password], input[type=date][disabled], input[type=date][readonly], fieldset[disabled] input[type=date], input[type=datetime][disabled], input[type=datetime][readonly], fieldset[disabled] input[type=datetime], input[type=datetime-local][disabled], input[type=datetime-local][readonly], fieldset[disabled] input[type=datetime-local], input[type=month][disabled], input[type=month][readonly], fieldset[disabled] input[type=month], input[type=week][disabled], input[type=week][readonly], fieldset[disabled] input[type=week], input[type=email][disabled], input[type=email][readonly], fieldset[disabled] input[type=email], input[type=number][disabled], input[type=number][readonly], fieldset[disabled] input[type=number], input[type=search][disabled], input[type=search][readonly], fieldset[disabled] input[type=search], input[type=tel][disabled], input[type=tel][readonly], fieldset[disabled] input[type=tel], input[type=time][disabled], input[type=time][readonly], fieldset[disabled] input[type=time], input[type=url][disabled], input[type=url][readonly], fieldset[disabled] input[type=url], input[type=color][disabled], input[type=color][readonly], fieldset[disabled] input[type=color], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background-color: #fff;
  cursor: default;
}

.error1 {
  display: none!important;
}

//Loader
#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('https://www.beerstrot.it/asset/img/loading1.gif');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 24px;
}

/*===================================================================
tabs menu
===================================================================*/

// ul.tabs {
//     text-align: center;
//     li {
//         float: none !important;
//         display: inline-block;
//         margin-top: 1rem;
//         padding: 0px;
//     }
// }


/*===================================================================
accordion space between container
===================================================================*/

  // .accordion .accordion-navigation, .accordion dd {
  //   display: block;
  //   margin-bottom: 2px !important; }


/*===================================================================
accordion domande frequenti
===================================================================*/

.menu {

  margin-bottom: 1.8rem;

}

.header {
  display:flex;
  cursor: pointer;
}

.title {
  flex:1;
  font-weight:bold;
  font-size: 1.125rem;
}

.icon {
    width:1rem;
    line-height: 1.4rem;
    font-size: 2rem;
    font-weight:500;
    color: $primary-color;
}

.content {
  display:none;
}

/*===================================================================
hamburger menu
===================================================================*/

/* Basic styling */

 nav {
  background: #ffffff;
  border-bottom: 2.5px #666666 solid;
  padding: 0 5px 0 0px;
}
#hamburger a {
  color: $jet;
  text-decoration: none;
}
.menu1 {
  list-style-type: none;
  margin:0px 0px 0px 15px;
  padding:0.5rem 0rem 0.5rem 0rem;
}
.logo {
  font-size: 1,125rem;
  padding: 7.5px 20px 7.5px 0;
}
.item {
  padding: 5px 10px 15px 20px;
}

#hamburger .item:not(.button) a:hover,
.item a:hover::after {
    color: $primary-color;
}
.toggle {
    flex: 1;
    text-align: right;

  }
/* Mobile menu */
.menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu1 li a {
  display: block;
  padding: 5px 5px;
}

.toggle {
  order: 1;
  font-size: 1.25rem;
}
.item.button {
  order: 2;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-right: 10px;
}
.item {
  order: 3;
  width: 100%;
  padding: 10px 0px;
  text-align: left;
  display: none;
  padding-left: 10px;
}
.active .item {
  display: block;
}
#hamburger .button a{
    order:2;
    display:block;
    color: $white;
    font-size: 1.25rem;
}

/* Tablet menu */
// @media all and (min-width: 45.063em) {
//   .menu1 {
//     justify-content: center;
//   }
//   .logo {
//     flex: 1;
//   }

//   .toggle {
//     flex: 1;
//     text-align: right;

//   }
//   #hamburger .button a{
//     order:2;
//     display:block;
//     color: $white;
//     font-size: 1.25rem;
//   }
// }
/* Desktop menu */
@media all and (min-width: 60em) {
    .menu1 {
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        background: none;
        margin:0 15px;
    }
    .logo {
        order: 0;
        flex: 1;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        padding: 20px 20px;
    }
    #hamburger .item.button {
        width: auto;
        order: 1;
        display: block;
        margin-top: 0px;
        margin-bottom:0px;
    }
    #hamburger .button a {
        order:2;
        display:block;
        color: $white;
        margin-top:1px;
        font-size: 1.25rem;
    }
    #hamburger .button {
        order: 2;
    }
    .toggle {
        display: none;
    }
    #hamburger .attuale a {
        color: $primary-color;
    }
}

