
/* ------------------------------ COUNTER BEGIN ------------------------------ */
.counter__increment, .counter__decrement {
  transition: all 0.1s ease-in-out;
}

.counter {
  position: relative;
  width: 7.5rem;
  height: 1.875rem;
  border: none;
  text-align: center;
  overflow: hidden;
  box-shadow: none;
  border-style: none;
  border-width: 0;
  border-color: #fff;
  -webkit-appearance: none;


}

.counter__input {
  border: none;
  border-style: none;
  border-width: 0;
  border-color: #fff;
  box-shadow: none;
  height: 100%;
  margin: 0 auto;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #fff;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.counter__increment, .counter__decrement {
  position: absolute;
  top: 0;
  font-size: 1,2rem;
  line-height: 1.5625rem;
  height: 1.875rem;
  width: 2.1875rem;
  font-weight: normal;
  background-color: #e00c10;
  border-style: none;
  border-width: 0;
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}
.counter__increment:hover, .counter__increment:active, .counter__increment:focus, .counter__decrement:hover, .counter__decrement:active, .counter__decrement:focus {
  color: #fff;
  text-decoration: none;
  background-color: #9d080b;
}
.counter__increment {
  right: 0;
  border-left: none;
  line-height: 1.6875rem;
}
.counter__decrement {
  left: 0;
  top: 0;
  line-height: 1.6875rem;
}

/* ------------------------------ COUNTER END ------------------------------