*.DS_Store
/bower_components/*
/node_modules/*
/node_modules/
.sass-cache
/*.log
/prepros.cfg
/_ARCHIVE/*
/contatti/presskit/*.indd
/*.ai
*.ai
.bowerrc
config.codekit3
email_template_bozza/images/logo-completo.png
email_template_bozza/images/logo-completo.svg
email_template_bozza/index.html
