.icon-fi-social-facebook { background-image: url('png/fi-social-facebook.png'); background-repeat: no-repeat; }

.icon-fi-social-google-plus { background-image: url('png/fi-social-google-plus.png'); background-repeat: no-repeat; }

.icon-fi-social-linkedin { background-image: url('png/fi-social-linkedin.png'); background-repeat: no-repeat; }

.icon-fi-social-mastercard { background-image: url('png/fi-social-mastercard.png'); background-repeat: no-repeat; }

.icon-fi-social-medium { background-image: url('png/fi-social-medium.png'); background-repeat: no-repeat; }

.icon-fi-social-pago-bancomat { background-image: url('png/fi-social-pago-bancomat.png'); background-repeat: no-repeat; }

.icon-fi-social-pinterest { background-image: url('png/fi-social-pinterest.png'); background-repeat: no-repeat; }

.icon-fi-social-skype { background-image: url('png/fi-social-skype.png'); background-repeat: no-repeat; }

.icon-fi-social-tripadvisor { background-image: url('png/fi-social-tripadvisor.png'); background-repeat: no-repeat; }

.icon-fi-social-tumblr { background-image: url('png/fi-social-tumblr.png'); background-repeat: no-repeat; }

.icon-fi-social-twitter-riquadro { background-image: url('png/fi-social-twitter-riquadro.png'); background-repeat: no-repeat; }

.icon-fi-social-vimeo { background-image: url('png/fi-social-vimeo.png'); background-repeat: no-repeat; }

.icon-fi-social-visa { background-image: url('png/fi-social-visa.png'); background-repeat: no-repeat; }

.icon-fi-social-witter { background-image: url('png/fi-social-witter.png'); background-repeat: no-repeat; }

.icon-fi-social-youtube { background-image: url('png/fi-social-youtube.png'); background-repeat: no-repeat; }

.icon-logo-red { background-image: url('png/logo-red.png'); background-repeat: no-repeat; }

